@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header Style*/
header{
	background-color: burlywood;
	height: 60vh;
	background-image: url("https://i.postimg.cc/FFn5Jt8M/rb.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
	/* border: 2px solid red; */
}
.header{
	display: flex;
	flex-direction: column;
	position: relative;
	/* border: 2px solid black; */
}
img{
    width: 100px;
    height: 100px;
}
.social{
	/* border: 2px solid salmon; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.media{
	position:relative;
	display: flex;
	justify-content:flex-start;
	left: 1rem;
	
}
.media a{
	display: block;
 	text-align: center;
    padding: 10px 10px;
    text-decoration:none ;
	margin: 5px;
       
}
.media a:nth-child(1){
	color: #316FF6;
}
.media a:nth-child(2){
	color: #cd486b ;
}
.media a:nth-child(3){
	color: gray;
}
.media a:nth-child(4){
	color: #25D366;
}
.media a:nth-child(1):hover{
	background-color: #316FF6;
	color: white;
	border-radius: 50%;
}
.media a:nth-child(2):hover{
	background-color:  #cd486b;
	color: white;
	border-radius: 50%;
}
.media a:nth-child(3):hover{
	background-color: gray;;
	color: white;
	border-radius: 50%;
}
.media a:nth-child(4):hover{
	background-color:#25D366;;
	color: white;
	border-radius: 50%;
}
.login{
	position:relative;
	align-items: center;
	display: flex;
	justify-content: space-between ;
	margin-right: 2rem;
	
}
.login a{
	text-decoration: none;
	/* color: black; */
	color: white;
} 
.login p{
	color: white;
}

.login a:first-child{

	padding-right: 1.5rem;
	
}
.login a:last-child{
	padding-left: 1.2rem;
		
}
.login a:first-child:hover{
	border-right: none;
	background-color: #316FF6;
	border-radius: 2rem;
	text-align: center;
	padding: 0.3rem;
	margin-right: 1rem;	
	

}
.login a:last-child:hover{
	border-left:none;
	background-color: #316FF6;
	border-radius: 3rem;
	text-align: center;
	padding: 0.3rem;	
	margin-left: 1rem;	
}

.nav{
	/* border: 2px solid rebeccapurple;  */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	place-items: center;
}

.nav1{
	width: 25%;
	display: flex;
	justify-content: space-around;
	
}
.nav1 a{
	/* color:black; */
	color: white;
	text-decoration: none;
	
}
.nav1 a:hover{
	background-color: #316FF6;
	color: black;
	width: 30%;
	text-align: center;
	border-radius:40px;
}
.logo{
	display: flex;
	align-content:center ;


}
.nav2{
	width: 25%;
	display: flex;
	justify-content: space-around;
}
.nav2 a{
	/* color:black; */
	color: white;
	text-decoration: none;
	
}
.nav2 a:hover{
	background-color: #316FF6;
	color: black;
	width: 30%;
	text-align: center;
	border-radius:40px;
}
.nav2 a:hover:nth-child(3)
{
	width: 40%;
}
.slogan{
	height: 30vh;
	text-align: center;
	display:flex;
	flex-direction: column;
	 /* border: 2px solid black;  */
	justify-content:center;
	align-items: center;
	gap: 20px;
}
.slogan h3{
	font-family:'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: 400;
	color: white;
}
.slogan div:nth-child(2)
{
	word-spacing: 5px;
}
.but {
	padding-top: 20px;
}
button{
	border: none;
	border-radius: 30px;
	cursor: pointer;
	background-color: rgb(232, 119, 6);
	width:125px;
	height:50px;
	font-size:small;
	color: white;	
}
button:hover{
	background-color: black;
	color: #25D366;
}
main{
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}
.par-one{
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	width: 100%;
	gap: 5rem;

}
.head{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-large;
	font-weight: 400;
	font-style: italic;
	color: rgba(0, 0, 0, 0.334);
	
}
.serviceone{
	display: flex;
	gap: 2rem;
	justify-content: space-evenly;
}
.service-one{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 25%;
	height:50%;
	gap: 2rem;
}
.service-one img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.serviceone img:hover{
	opacity: 0.4;
}
.service-one h4{
	text-align: center;
	font-style: oblique;
}
.service-one p{
	text-align:center;
	word-spacing: 0.2rem;
	font-style:inherit;
	font-weight: 100;
}
.btn-service-one {
	text-align: center;
 }

.service-two{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 25%;
	height:50%;
	gap: 2rem;
}
.service-two img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.service-two h4{
	text-align: center;
	font-style: oblique;
}
.service-two p{
	text-align:center;
	word-spacing: 0.2rem;
	
}
.btn-service-two{
	text-align: center;
 }




 .service-three{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 25%;
	height:50%;
	gap: 2rem;
}
.service-three img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.service-three h4{
	text-align: center;
	font-style: oblique;
}
.service-three p{
	text-align:center;
	word-spacing: 0.2rem;
}
.btn-service-three{
	text-align: center;
 }



 .service-four{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 25%;
	height:50%;
	gap: 2rem;
}
.service-four img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.service-four h4{
	text-align: center;
	font-style: oblique;
	
}
.service-four p{
	text-align:center;
	word-spacing: 0.2rem;
	font-style:inherit;
}
.btn-service-four{
	text-align: center;
 }
 .article-two{
	width: 100%;
	height: 100%;
	/* background-color: teal; */
	margin-top: 4rem;

 }
 section{
	display: flex;
	gap:3rem;
	
 }
.us-img{
	width: 40%;
	height: 40%;
	
}
.us-img img{
	
	width: 100%;
	height: 40%;
	border-radius: 1rem;
	margin-left: 4rem;
	margin-top: 4rem;

}
.us-img img:hover{
	opacity: 0.4;
}
.us-word{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-left: 4rem;
	margin-top: 4rem;
}

.us-head{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-large;
	font-weight: 400;
	font-style: italic;
	color: rgba(0, 0, 0, 0.334);
 }
.us-parg{
	margin-bottom: 4rem;
	margin-top: 0%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: justify;
	font-style:inherit;
	font-family: "Jost", sans-serif;
	font-weight: 500;
	color:rgba(0, 0, 0, 0.803)
}
.us-parg span{
	display: block;
	text-align: center;
}

/* --------------------------------------------------------------------------------------------------
 Contact US Style 
 */
 .head-contact{
	margin-top: 5rem;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-large;
	font-weight: 400;
	font-style: italic;
	color: rgba(0, 0, 0, 0.334);
 }
 .article-three{
	display: flex;
	margin-top: 2rem;
	width: 100%;
	height: 70%;

	
 }

 .contact_one
 {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
	padding: 2rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 192, 203, 0.264);
 }

 .address, .email ,.phone ,.time{
	display: flex;
	gap: 1.5rem;

 }
 .address_two{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
	
 }
 .address i{
	color: teal;
}
 .email_two{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;

 }
 .email i{
	color: teal
 }
.phone_two{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
}
.phone i{
	color:teal;
}
.time_two{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
}
.time i{
	color: teal;
}

.contact_two{
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
	padding: 2rem;
	width: 50%;
	background-color: rgba(255, 192, 203, 0.264);
	
}
.firstname{
	display: flex;
}
.lastname{
	display: flex;
}
input[type='text']{
	margin: 1rem;
	width: 100%;
	height: 2rem;
 }
 input[type='text'], ::placeholder{
	padding-left:1rem ;
 }
 input[type='email']{
	margin: 1rem;
	width: 50%;
	height: 2rem;
 }
 input[type='email'], ::placeholder{
	padding-left:1rem ;
 }
 input[type='tel']{
	margin: 1rem;
	width: 50%;
	height: 2rem;
 }
 input[type='tel'],::placeholder{
	padding-left:1rem ;
 }
 
textarea{
	margin-top: 1rem;
	margin-left: 1rem;
	width: 100%;
}
 #message::placeholder{
	text-align:start;	
	padding-top:0.5rem;
 }
 .form_Submit{
	text-align: center;
	margin-top: 1rem;
	margin-left: 1rem;
 }
/* Footer Style*/
.footer{
	margin-top:5rem;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:2rem;
	background-color: teal;
	justify-content: space-around;
}
.map{
	margin-top: 0.4rem;
    
}
.fot-last{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2rem;
}
.fot-logo{
	display: inline-flex;

}
.fot-logo h2{
	margin-top: 2rem;
}
.fot-media{
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}
.fot-media a {
	
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px 10px;
}
.fot-media a:nth-child(1){
	
	color:#316FF6;
	border-radius: 50%;
	
}
.fot-media a:nth-child(2){
	
	color:#cd486b;
	border-radius: 50%;

}
.fot-media a:nth-child(3){

	color:gray;
	border-radius: 50%;
	
}
.fot-media a:nth-child(4){

	color:#25D366;
	border-radius: 50%;

	
}
 .fot-media a:nth-child(1):hover{
	background-color: #316FF6;
	color: black;
	border-radius: 50%;
	
}
.fot-media a:nth-child(2):hover{
	background-color:#cd486b;
	color:black;
	border-radius: 50%;

}
.fot-media a:nth-child(3):hover{
	background-color:gray;
	color:black;
	border-radius: 50%;
	
}
.fot-media a:nth-child(4):hover{
	background-color:#25D366;
	color:black;
	border-radius: 50%;	
}








/* .us-word p{
	word-spacing: 0.5rem;
	text-align: justify;
	
} */
/* .button {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;

	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
  } */

 





/*
h1 {
	display: inline-block;
} */
