*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(127, 255, 212, 0.459);
}
header{
    text-align: center;
    margin-top: 5rem;
   
}
article{
    margin-top: 3rem;
    margin-left:40%;
}
form{
    text-align: center;
    width: 30%;
    height: 50vh;
    background-color: palegoldenrod;
    border: 2px solid black;
    
}